<!-- Abput Section -->
<section class="segments" id="about">


  <p class="p1">Born in Japan but raised in the southern Appalachian Mountains, I never left Nashville once I came to study at Vanderbilt University. A critical observer of people and places, coupled with a deep love for design, I've often bought magazines, not only to read the content, but so I can save the cover design. My desire now is to craft an online experience that people yearn to return to.</p>

  <p class="p2"></p>
</section>