<!-- ETC Section -->
<section class="segments" id="etc">
  <h2>ET CETERA</h2>
  <br>
  <div>
    <h5>meetups & gatherings I've been known to frequent: NashvilleUX, Nashville Women Programmers, Ruby for Beginners, Nash.rb, Girl Geek Dinner, HackTN</h5>
    <h2>How did I first get involved in journalism?  As an editorial cartoonist for the college newspaper.</h2>
    <h5>+ Piet Mondrian: one of my favorite artists. + + + Both cats in the photo at top are from the Nashville Humane Association. +</h5>
    <h3>A big NFL fan, I play on a fantasy football league with my high school friends (Class of 1999).</h3>
    <h5>My husband and I try to visit at least one Frank Lloyd Wright building each year.</h5>




  </div>
</section>