<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">CATCH ME IN ACTION</h2>
      <div class="social-icons">
            <a href="https://github.com/{{ site.github_username }}"><img src="/images/github.png"></img>
            <a href="https://linkedin.com/in/ayumibennett"><img src="/images/linkedin.png"></img>
            <a href="https://twitter.com/{{ site.twitter_username }}"><img src="/images/twitter.png"></img>
            <a href="mailto:{{ site.email }}"><img src="/images/email.png"></img>
      </div>
</footer>
