<!-- Skills Section -->
<section class="segments" id="projects">
<h2>PROJECTS GALORE</h2>
  <div class="container">
  <div class="row">
      <div class="snack">
        <h3>Snack Tennessee</h3>
        <p>Collaborative project from Hack TN 7. </p>
      </div>
      <div class="bsides">
        <h3>BSides Nashville</h3>
        <p>Collaborative project for a nonprofit organization</p>
      </div>
      <div class="verbiage">
        <h3>Verbiage</h3>
        <p>Collaborative project from Hack TN 7. </p>
      </div>
      <div class="capstone">
        <h3>Verbiage</h3>
        <p>Collaborative project from Hack TN 7. </p>
      </div>
  </div>
  </div>


</section>