<!-- Skills Section -->
<section class="segments" id="projects">
<h2>APPLYING WHAT I'VE LEARNED</h2>
  <div class="container">
  <div class="row">
      <div class="snack">
        <h3><a href="projects/snacktn.html">Snack Tennessee</a></h3>
        <p>Conjured, Pitched and Presented this Collaborative project during Hack TN 7. </p>
      </div>
      <div class="verbiage">
        <h3><a href="projects/verbiage.html">Verbiage</a></h3>
        <p>A Chat App using Firebase, jQuery & lodash. Front-End class assignment</p>
      </div>
      <div class="bsides">
        <h3><a href="projects/bsides.html">BSides Nashville</a></h3>
        <p>Collaborative Web Redesign for a nonprofit organization's flagship conference</p>
      </div>
      <div class="capstone">
        <h3><a href="projects/work4.html">Ruby Koans</a></h3>
        <p>Learning the rules of Ruby through TDD</p>
      </div>
  </div>
  </div>


</section>