<!-- Skills Section -->

<section class="segments" id="skills">
<h2>SKILLS</h2>
  <div="container">
    <div="row">
      <div class="mediabox" id="tech">
        <img src="images/basic_laptop.png"></img>
        <h3>TECHNOLOGIES</h3>
        <p>Test Driven Development  Mocha/Chai RSpec Minitest </p>
      </div>
      <div class="mediabox" id="stack">
        <img src="images/basic_server2.png" alt="img02" />
        <h3>STACK</h3>
        <p>HTML CSS CSS Compilers Javascript jQuery AngularJS Ruby Rails SQL</p>
      </div>
      <div class="mediabox" id="work">
        <img src="images/basic_notebook_pencil.png" alt="img03" />
        <h3>WORK</h3>
        <p>Teamwork Strategic Thinking Creativity  Writing in Any Style  Editing  Effective Communication with Diverse Audiences Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip.</p>
      </div>
    </div>
  </div>


</section>