/**
 * Site Segments
 */
.segments {
    border-top: 1px solid $grey-color-light;
    // padding: $spacing-unit 0;    

  h2 {
      text-align: center;
  }
}

/**
 * MAIN TOP
 */

.segments#main {
    background-color: #464646;
    font-family: 'Alegreya Sans SC';
    font-style: bold;
    font-size: 1.3em;

    img {
       width: 70%;  
       clear: left;
       opacity: 0.8;

    }

    .words {
        float: right;
        color: white;
        margin-top: 200px;
        margin-right: .9rem;

    }

    @media screen and (max-width: 52.375em) {
      .img {
        min-width: 100%;
      }
      .words {
        width: 100%;
        text-align: center;
        padding-left: 20%;
        margin-top: 2%;
      }
  
    }
}

/**
 * ABOUT
 */


.segments#about {
    padding-top: 9%;
    min-height: 500px;
    float: center;
    border-bottom: 3px solid grey;    
    background: url(../images/Ayumi.jpg) no-repeat 100% 100%;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 200;
    background-image-opacity: 0.2;
}



.segments#about  p {
    // background-color: lightgray;
    text-align: center;
    margin-left: 300;
    max-width: 100%;
    margin-right: 300;
    margin-top: 0;
    color: white;
    font-size: 1.6em;
    font-weight: normal;
    font-family: 'Alegreya Sans SC';
    opacity: 1;
    z-index: 300;
    // width: 70%;
    // .p2 {
    //   text-align: right;
    //   max-width: 33%;

}

/**
 * SKILLS
 */


.segments#skills {
    padding-top: 9%;
    padding-bottom: 9%;


    .container {
      min-width:320px;
      width: 100%;
      max-width: 1000px;
      margin: 0px auto;
    }

    .row {
      display:table;
      margin: 0 -10px 0;
      border-collapse:separate;
      // border-spacing: 20px 10px; use border-spacing instead of margins
    }
    .mediabox {
      text-align: center;
      width: 30%;
      display: table-cell;
      padding: 10px 10px;
      // background: #D8C0A8;
    }
    @media only screen 
    and (max-width: 640px) {
      .mediabox {
        display: table-row;
        width: 100%;
       }
    }
}

/**
 * PROJECTS
 */

.segments#projects {
  background-color: #D8C0A8;
  padding-top: 9%;
  padding-bottom: 9%;


    .container {
      background: #D8C0A8;
      min-width:320px;
      width: 100%;
      max-width: 1000px;
      margin: 0px auto;
    }

    .row {
      display:table;
      margin: 0 -10px 0;
      border-collapse:separate;
      // border-spacing: 20px 10px; use border-spacing instead of margins
    }

    .snack, .verbiage, .bsides, .capstone {
      width: 23%;
      display: table-cell;
      padding: 10px 20px;
      background: #D8C0A8;
    }
    @media only screen 
    and (max-width: 640px) {
      .row {
        margin-left: 5%;
      }
      .snack, .verbiage, .bsides, .capstone {
        display: table-row;

       }
    }
}

/**
 * ETC
 */

.segments#etc {
  background-color: #4D9680;
  color: white;
  line-height: 103%;
  text-align: center;
  font-family: 'Alegreya Sans SC';
  font-weight: medium;
  font-size: 1.3em;
  padding-top: 9%;
  padding-bottom: 9%;
}









